$def with(lines)
<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>节目列表</title> 
  <!-- link rel="SHORTCUT ICON" href="/static/favicon.ico"/ --> 
</head>
<body> 
<h1>节目列表</h1>
<p>标签标记，有服务质量保证的内容</p>
<ul>
	$for line in lines :
          $code:
	    lk="/res/"+line[0]+"&"+line[1]
          <li><a href="$:lk"> $line[2] </a></li>
</ul>

<p>无服务质量保证的内容</p>
<ul> <li><a href="/poor"> 片段</a></li></ul>

<p>手工验证URL</p>
<ul> <li><a href="/auth"> URL验证</a></li></ul>

</body> 

